._noPadding_116ja_1 {
  padding: 0;
}


._addRow_116ja_6 {
  margin-top: 16px;
}

._addColumn_116ja_10 {
  text-align: right;
}

._addIcon_116ja_14 {
  width: 64px;
  height: 64px;
}

._addIcon_116ja_14>svg {
  width: 100%;
  height: 100%;
}


._svgContainer_116ja_25 {
  text-align: center;
}

._svgContainer_116ja_25>svg {
  width: 100%;
  height: 100%;
}