._header_nqbc9_1 {
  display: flex;
  align-items: center;
  padding: 0rem 3rem;
  justify-content: space-between;
  height: 5rem;
}
@media (max-width: 768px) {
  ._header_nqbc9_1 {
    padding: 0rem 0.5rem;
  }
}

._userInfo_nqbc9_14 {
  display: flex;
  align-items: center;
  gap: 20px;
}
._logo_21mob_1 {
  cursor: pointer;
}
._surveyHeader_14mz7_1 {
  background-color: #16205b;
  position: relative;
  width: 3.5rem;
}

._icon_14mz7_7 {
  height: 1em;
  width: 1em;
}


._blockItem_18b1k_3 {
  flex: 1;
  display: flex;
  gap: 15px;
  flex-direction: column;
}

._errorText_18b1k_10 {
  color: #eb5757 !important;
}

._saveNameButton_18b1k_14 {
  vertical-align: bottom;
}._wrapper_ar1uh_1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
}

._action_ar1uh_12 {
  text-align: end;
  margin-top: 16px;
}

._errorText_ar1uh_17 {
  color: #eb5757 !important;
}
._mainContainer_1d68k_1 {
  margin: auto;
  min-width: 300px;
}

._linkCopy_1d68k_6 {
  display: flex;
  align-items: center;
  gap: 20px;
}

._socialSharing_1d68k_12,
._defaultUrl_1d68k_13 {
  display: flex;
  align-items: center;
  gap: 20px;
}

._socialLink_1d68k_19 {
  display: flex;
  gap: 15px;
}

._iconShareFb_1d68k_24 {
  fill: #3c5997 !important;
}
._iconShareTw_1d68k_27 {
  fill: #05aced !important;
}

._iconShareLn_1d68k_31 {
  fill: #027fb1 !important;
}

._savingProgress_zztu3_1 {
  margin: 0px 8px !important;
  width: 16px !important;
  height: 16px !important;
}
